<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf String</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- dataTables CSS: paging and sorting -->
    <!--Link: https://datatables.net/download/-->
    <!--sade olan-->
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.3/datatables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.3/datatables.min.js"></script>

    <!-- External -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
</head>

<body class="container">
    <!-- start codes -->
    <br><br>

  
    


    <p class="display-2 text-center">ADMIN CREATE</p>
    <form>
        <div class="form-group mb-3">
            <label for="adminName">adminName</label>
            <input type="text" class="form-control" id="adminName"  placeholder="adminName">
            <small  class="form-text text-danger">adminName</small>
        </div>

        <div class="form-group mb-3">
            <label for="adminSurname">adminSurname</label>
            <input type="text" class="form-control" id="adminSurname"  placeholder="adminSurname">
            <small  class="form-text text-danger">adminSurname</small>
        </div>


        <div class="form-group mb-3">
            <label for="hescode">hescode</label>
            <input type="text" class="form-control" id="hescode"  placeholder="hescode">
            <small  class="form-text text-danger">hescode</small>
        </div>


        <div class="form-group mb-3">
            <label for="price">price</label>
            <input type="number" class="form-control" id="price" step="1" min="10" max="100"  placeholder="price">
            <small  class="form-text text-danger">price</small>
        </div>


        <div class="form-group mb-3">
            <label for="isActive">isActive</label>
            <input type="checkbox"  id="isActive"  placeholder="isActive">
            <small  class="form-text text-danger">isActive</small>
        </div>
      

        <div class="form-group mt-3">
            <input type="reset" class="btn btn-danger" value="Temizle"></input>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="" class="btn btn-warning">ADMIN </a>
        </div>
    </form>


    <!--Sweet Alert-->
    <!--Link: https://sweetalert2.github.io/#examples-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        function deleteSweetAlertRegister(url) {
            swal({
                position: 'top-end',
                showConfirmButton: true,
                title: "Silmek istediğinizden emin misiniz?",
                text: "Silindikten sonra tekrar geri alınamaz.",
                icon: "warning",
                buttons: ["İptal", "Sil"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Kayıt başarılı bir şekilde silindi.", {
                            icon: "success",
                        });
                        window.location.href = url;
                    } else {
                        swal("İptal edildi.", {
                            icon: "warning",
                        });
                    }
                });
        }</script>

    <!--  Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <!-- ends codes -->
</body>

</html>