<!doctype html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Thymeleaf String</title>

    <!-- Turkce karakter -->
    <meta charset="utf-8">

    <!-- responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- seo -->
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <link rel="stylesheet"   th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
</head>

<body class="container">

    <!-- start codes -->

  <!--  <td th:text="${ozelanahtar5}"></td>-->
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th th:text="#{customer.id}"></th>
                <th th:text="#{customer.name}"></th>
                <th th:text="#{customer.surname}"></th>
                <th th:text="#{customer.hescode}"></th>
                <th th:text="#{customer.price}"></th>
                <th th:text="#{customer.situation}"></th>
                <th th:text="#{customer.is_active}"></th>
                <th th:text="#{customer.date}"></th>
                <th th:text="#{customer.update}"></th>
                <th th:text="#{customer.view}"></th>
                <th th:text="#{customer.delete}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${customer.id>0}" th:each="customer:${ozelanahtar8}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.getAdminName()}"></td>
                <td th:text="${customer.getAdminSurname()}"></td>
                <td th:text="${customer.getHescode()}"></td>
                <td th:text="${customer.getPrice()}"></td>
                <td th:if="${customer.getPrice()>=50}" th:text="Büyük"></td>
                <td th:unless="${customer.getPrice()>=50}" th:text="Küçük"></td>
                <td th:if="${customer.isActive.equals('true')}" th:text="Aktif"></td>
                <td th:unless="${customer.isActive.equals('true')}" th:text="Pasif"></td>
                <td th:text="${customer.getDate().toString().substring(0,16)}"></td>
                <td><i class="text-primary fa-solid fa-wrench"></i></td>
                <td><i class="text-warning fa-solid fa-expand"></i></td>
                <td><i class="text-danger fa-solid fa-trash"></i></td>
            </tr>
        </tbody>
    </table>

    <td th:text="${validation_key}"></td>

    <!-- ends codes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>